<ion-panel>
  <ion-content class="padding has-header">
    <h1 class="text-center home main-title">TRES!</h1>
    <a href="#/play" class="button button-calm-green button-block">Play</a>
    <a href="#/scores" class="button button-surf button-block">Scores</a>
    <a href="#/how-to-play" class="button button-surf button-block">How to play</a>
    <div class="button-bar">
      <a class="button button-assertive ion-share"></a>
      <a class="button button-assertive ion-ios-heart"></a>
      <a href="#/settings" class="button button-assertive ion-ios-gear"></a>
    </div>
  </ion-content>
</ion-panel>
