<ion-panel ng-init="init()">
  <ion-header-bar>
    <button class="button button-clear button-dark ion-ios-locked" ng-click="unlockGame()" ng-show="locked"> unlock</button>
    <button class="button button-icon ion-ios-close-empty" ng-click="leaveGame()"></button>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="button-bar">
      <button class="button button-clear button-dark">
        {{points}} points
      </button>
      <button class="button button-icon ion-clock">
        <timer interval="1000">{{mminutes}}:{{sseconds}}</timer>
      </button>
    </div>
    <div class='text-center'>
      <cards></cards>
    </div>
  </ion-content>
</ion-panel>
