<p class="text-center">Let's look at some examples.</p>
<div class="row nopadding">
  <div class="col col-67">
    <img src="img/that-is-a-tres-easy-example.png" width="100%">
  </div>
  <div class="col">
    <p><strong>It's a Tres!</strong></p>
  </div>
</div>

<div class="row nopadding">
  <div class="col col-67">
    <img src="img/that-is-not-a-tres-easy-example.png" width="100%">
  </div>
  <div class="col">
    <p class="text-right"><strong>It isn't a Tres!</strong></p>
  </div>
</div>

<div class="row">
  <div class="col text-left">
    <a href="#/how-to-play/1" class="button ion-ios-arrow-back icon-left button-clear button-assertive">Previous</a>
  </div>
  <div class="col text-right">
    <a href="#/how-to-play/3" class="button ion-ios-arrow-forward icon-right button-clear button-assertive">Next</a>
  </div>
</div>
