<div class="row nopadding">
  <div class="col col-67">
    <img src="img/that-is-a-tres-hard-example.png" width="100%">
  </div>
  <div class="col">
    <p><strong>It's a Tres!</strong></p>
  </div>
</div>

<div class="row nopadding">
  <div class="col col-67">
    <img src="img/that-is-not-a-tres-hard-example.png" width="100%">
  </div>
  <div class="col">
    <p><strong>It isn't a Tres!</strong></p>
  </div>
</div>

<p class="text-center">Ready to start? Have fun!</p>

<div class="row">
  <div class="col text-left">
    <a href="#/how-to-play/2"class="button ion-ios-arrow-back icon-left button-clear button-assertive">Previous</a>
  </div>
</div>
