<ion-panel>
  <ion-content class="padding has-header" scroll="false">
    <h1 class="text-center main-title home">TRES!</h1>
    <a href="#/play" class="button button-balanced button-block">Play</a>
    <a href="#/scores" class="button button-positive button-block">Scores</a>
    <a href="#/how-to-play/1" class="button button-positive button-block">How to play</a>
    <div class="button-bar">
      <a class="button button-assertive ion-share"></a>
      <a class="button button-assertive ion-ios-heart"></a>
      <a href="#/settings" class="button button-assertive ion-ios-gear"></a>
    </div>
  </ion-content>
</ion-panel>
