<ion-panel>
  <ion-header-bar>
    <a href="#/home" class="button ion-android-arrow-back button-clear button-dark"></a>
  </ion-header-bar>
  <ion-content class="padding">
    <header class="text-center">
      <h1 class="main-title">TRES!</h1>
      <h3>How to play</h3>
    </header>
    <div class="well" ui-view></div>
  </ion-content>

  <ion-footer-bar>
    <a ng-href="#/how-to-play/{{previousPage}}" class="button ion-ios-arrow-back icon-left button-clear button-assertive" ng-show="hasPrevious">Previous</a>

    <a ng-href="#/how-to-play/{{nextPage}}" class="button ion-ios-arrow-forward icon-right button-clear button-assertive" ng-show="hasNext">Next</a>
  </ion-footer-bar>
</ion-panel>