<ion-panel data-ng-init="init()">
  <ion-header-bar>
    <button class="button icon-left ion-ios-refresh-empty button-clear button-dark" ng-click="switchCard()" ng-show="switchEnabled"></button>
    <h2 class="title">0</h2>
    <button class="button button-icon icon ion-ios-close-empty" ng-click="leaveGameAlert()"></button>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="button-bar">
      <button class="button button-icon button-clear button-dark">
        {{totalSets}} sets
      </button>
      <button class="button button-clear button-dark ion-clock">
        <timer interval="1000">{{mminutes}}:{{sseconds}}</timer>
      </button>
    </div>
    <div class='text-center'>
      <cards></cards>
    </div>
  </ion-content>
</ion-panel>
