<ion-panel>
  <ion-header-bar>
    <a href="#/home" class="button ion-android-arrow-back button-clear button-dark"></a>
  </ion-header-bar>
  <ion-content class="padding" scroll="false">
    <header class="text-center">
      <h1 class="main-title">TRES!</h1>
      <h3>Settings</h3>
    </header>

    <ion-toggle toggle-class="toggle-balanced" ng-true-value="'Easy'" ng-false-value="'Hard'" ng-model="level" ng-click="toggleSetting('level', level)">
      Level: <b>{{ level }}</b>
    </ion-toggle>
  </ion-content>
</ion-panel>
